// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letter {
  background-color: blue;
  color: white;
  padding: 10px;
  margin-left: 20px;
  width: auto;
  font-size: larger;
  border-radius: 3px;
  border: solid 1px darkblue
}

form {
  margin: 20px;
}

h1 {
   margin: 20px;
}
